.the-footer-component {
    background-color: var(--color-footer);
    .footer-content {
        grid-template-columns: repeat(4, 1fr);
    }
    * {
        color: var(--color-footer-text);
    }
    a {
        &:hover {
            color: var(--color-secondary);
        }
    }

    .social-icon {
        max-width: 30px;
    }

    .ant-divider {
        background: var(--color-footer-divider);
    }

    @media (max-width: 767px) {
        .footer-content {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            div {
                &:first-child {
                    grid-column: 2 / 3;
                    grid-row: 1;
                }
                &:nth-child(2) {
                    grid-column: 1 / 2;
                    grid-row: 1;
                }
            }
        }
    }

    @media (max-width: 429px) {
        .footer-content {
            grid-template-columns: 1fr;
            gap: 28px;
            div {
                grid-column: auto !important;
                grid-row: auto !important;
            }
        }
    }
}