.post-3-component {
    .thumbnail {
        padding-bottom: 72.46%;
    }
    p {
        color: var(--color-text);
    }
    .description {
        max-width: 277px;
        margin-left: auto;
        margin-right: auto;
    }
}