.payment-success-modal {
    .modal {
        width: 656px;
        .modal-content {
            padding: 60px 20px 96px;
        }
        .payment-message {
            margin-bottom: 47px;
        }
    }
}