.item-page {
    .page-main-content {
        --column-num: 4;

        column-gap: var(--gap);
        margin-bottom: 60px;
        .sort-column {
            position: sticky;
            top: var(--sticky-top);
            width: 100%;
            background: #FFFFFF;
            z-index: 1;
            .sort-title {
                color: #000000;
            }
            .sort-select {
                width: 196px;
                margin: 20px 0 16px;
            }
        }
        .filter-column {
            position: sticky; 
            top: var(--sticky-top);
            // width: 278px; 
            width: calc((100% - var(--column-num) * var(--gap)) / var(--column-num));
            max-height: calc(100vh - var(--sticky-top)); 
            z-index: 1;
            flex-grow: 1;
        }
        .items-column {
            // flex-grow: 1;
            width: calc(((var(--column-num) - 1) * 100% - var(--gap)) / var(--column-num));
            .item-list-component {
                // grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
                margin-bottom: 60px;
                &.list-component {
                    .list-content {
                        // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
                        grid-template-columns: repeat(calc(var(--column-num) - 1), 1fr);
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .page-main-content {
            --column-num: 3;
        }
    }

    @media (max-width: 639px) {
        .page-main-content {
            --column-num: 2;
            .sort-column {
                .sort-content {
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 8px;
                }
                .sort-title {
                    margin-top: 16px;
                }
                .ant-form, .sort-title {
                    width: calc((100% - var(--column-num) * var(--gap) / 2) / var(--column-num));
                }
                .sort-select {
                    margin-top: 0;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 429px) {
        .page-main-content {
            --column-num: 1;
            margin-bottom: 45px;
            .filter-column, .items-column {
                width: 100%;
            }
            .filter-column, .sort-column {
                position: relative;
                top: 0;
            }
            .filter-column {
                max-height: 100%;
                padding-top: 30px;
                order: 1;
            }
            .sort-column {
                order: 2;
                .ant-form, .sort-title {
                    width: 100%;
                }
                .sort-select {
                    margin-bottom: 38px;
                }
            }
            .items-column {
                order: 3;
                .item-list-component {
                    margin-bottom: 30px;
                }
                .pagination-content {
                    justify-content: center;
                }
            }
        }
    }
}