.instagram-carousel-component-2 {
    --gap: 16px;
    // --gap: 20px;
    .agile {
        &__track {
            margin: 0 20px;
        }
        &__slides {
            gap: var(--gap);
            .slide {
                width: var(--slide-width) !important;
                flex-grow: 0;
                display: flex;
                flex-direction: column;
                gap: var(--gap);

                &:nth-child(2) {
                    width: calc(var(--slide-width) * 2 + var(--gap)) !important;
                }
            }
        }
    }
}