.change-password-page {
    padding-top: 40px;
    padding-bottom: 162px;
    max-width: 790px;

    @media (max-width: 639px) {
        padding-top: 30px;
        padding-bottom: 84px;

        .page-title {
            font-size: var(--text-3xl);
            margin-bottom: 28px;
            text-align: center;
        }

        .control-btn-group {
            margin-top: 0;
        }
    }
}