.wishlist-page {
    padding-top: 18px;
    padding-bottom: 60px;
    
    @media (max-width: 767px) {
        padding-top: 14px;
        padding-bottom: 28px;
        .breadcrumb-component {
            margin-bottom: 14px;
        }
        .heading-title {
            margin-bottom: 8px;
        }
        .control-btn-container {
            margin-top: 16px;
        }
    }

    @media (max-width: 491px) {
        .control-btn-container {
            flex-direction: column-reverse;
        }
    }
}